:root {
	--headerHeight: 55px;
	--headerButtonHeight: 30px;
	--headerButtonWidth: 60px;
	--filterHeight: 430px;
}

* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

button {
	outline: none;
}

body {
	position: relative;
	min-height: 100%;
	background-color: #111111;
}

main {
	margin: auto;
	max-width: 600px;
	padding: 70px 0 220px 0;
}

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: black;
	height: var(--headerHeight);
	border-bottom: 1px solid #404040;
	color: white;
	z-index: 2;
}

h1.head {
	position: relative;
	float: left;
	top: 5px;
	font-size: 36px;
	left: calc(14%);
}

p.headerUsername {
	position: relative;
	float: right;
	top: 13px;
	font-size: 24px;
	right: 25px;
}

h1.head a:first-child {
	color: white;
	text-decoration: none;
}

@media (max-width: 380px) {
	h1.head {
		display: none;
	}
}

@media (max-width: 230px) {
	p.headerUsername {
		display: none;
	}
}

button.squareButton {	
	background-color: #B1B1B1;
	font-size: 16px;
	border: none;
	color: black;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	border-radius: 6px;
}

button.circleButton {
	background-color: #B1B1B1;
	border: none;
	color: black;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	border-radius: 100%;
}

#login {
	height: var(--headerButtonHeight);
	width: var(--headerButtonWidth);
	float: right;
	position: relative;
	right: 10px;
	top: calc((var(--headerHeight) - var(--headerButtonHeight)) / 2);
}

#addPost {
	height: var(--headerButtonHeight);
	width: var(--headerButtonHeight);
	float: right;
	position: relative;
	right: 40px;
	top: calc((var(--headerHeight) - var(--headerButtonHeight)) / 2);
}

#addPost img:first-child {
	position: relative;
	top: calc(var(--headerButtonHeight) / 17);
	width: calc(var(--headerButtonHeight) / 1.5);
}

#filterButton {
	height: var(--headerButtonHeight);
	width: var(--headerButtonHeight);
	float: left;
	position: relative;
	left: 10px;
	top: calc((var(--headerHeight) - var(--headerButtonHeight)) / 2);
}

#filterButton img:first-child {
	position: relative;
	top: calc(var(--headerButtonHeight) / 10);
	width: calc(var(--headerButtonHeight) / 1.5);
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 25px 0;
	width: 100%;
	height: 100px;
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	border-top: 1px solid #404040;
	z-index: 1;
}

button.showMore {
	position: absolute;
	left: 0;
	top: -36px;
	width: 100%;
	height: 35px;
	background-color: #555555;
	font-size: 18px;
	border: none;
	color: black;
	text-align: center;
	display: inline-block;
	cursor: pointer;
}

div.post {
/*	margin: auto;
	max-width: 600px;*/
}

img.post {
	max-width: 100%;
	padding-bottom: 5px;
}

img.avatar {
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

p.postUsername {
	padding-top: 12px;
	font-size: 22px; 
	color: white
}

.tool {
	--tool-height: 20px;
	height: var(--tool-height);
	float: right;
	margin-right: 13px;
	margin-top: 11px;
	background-color: #111111;
	border: none;
	display: inline-block;
	cursor: pointer;
}

.tool img:first-child {
	height: var(--tool-height)
}

p.postDescription {
	clear: left;
	color: white;
	font-size: 18px;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

p.tags {
	font-size: 14px;
	text-align: left;
	color: white;
	padding-bottom: 10px;
	padding-left: 10px;
}

.post {
	font-size: 15px;
	float: right;
	color: white;
}

#filter {
	position: fixed;
	float: left;
	top: calc(var(--headerHeight) + 1px);
	background-color: black;
	width: 240px;
	height: var(--filterHeight);
	border-width: 0 1px 1px 0;
	border-color: #404040;
	border-style: solid;
	transition-duration: 0.36s;
}

div.activatedFilter {
	left: 0;
	z-index: 2;
}

div.deactivatedFilter {
	left: calc(0px - var(--filterHeight));
}

p.filterText {
	color: white;
	font-size: 22px;
	margin: 5px 20px;
}

p.numOfLikes {
/*	position: absolute;	
	top: 10px;*/
	color: white;
	font-size: 10px;
}

.filterInput {
	outline: none;
	border: none;
	background-color: #111111;
	resize: none;
	color: white;
	font-size: 18px;
	margin: 5px 20px;
	padding: 5px;
	width: 190px;
	height: 50px;
}

textarea.filterInput::-webkit-scrollbar {
	background-color: #555555;
	cursor: default;
}

textarea.filterInput::-webkit-scrollbar-thumb {
	background-color: #333333;
}

div.datesInput {
	margin: 5px 19px;
	height: 40px;
}

input.datesInput {
	text-align: center;
	outline: none;
	border: none;
	background-color: #111111;
	resize: none;
	font-size: 18px;
	margin: 5px 1px;
	padding: 5px;
	width: 52px;
	height: 20px;
}

button.toFilterButton {
	width: 100px;
	height: 35px;
	float: right;
	margin: 10px 20px 0 0;
	position: relative;
	background-color: #B1B1B1;
	font-size: 22px;
	border: none;
	color: black;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	border-radius: 6px;
}

.loginHead {
	font-size: 32px;
	text-align: center;
	color: white;
}

div.loginBox {
	margin-top: 50px;
	border-radius: 6px;
	max-width: 238px;
	height: 60px;
	border: 1px solid white;
	z-index: 2;
}

input.loginInput {
	background-color: #111111;
	font-size: 16px;
	padding: 4px;
	color: white;
	height: 21px;
	width: 230px;
	border: none;
	outline: none;
	border-bottom: 1px solid white;
	border-radius: 6px 6px 0px 0px;
}

input.passwordInput {
	background-color: #111111;
	font-size: 16px;
	padding: 4px;
	color: white;
	height: 21px;
	width: 230px;
	border: none;
	outline: none;
	border-top: 1px solid white;
	border-radius: 0px 0px 6px 6px;
}

p.loginError {
	text-align: center;
	color: red;
	font-size: 14px;
}

#loginPageLoginButton {
	position: relative;
	float: right;
	right: 10px;
	top: 10px;
	width: 60px;
	height: 30px;
}

p.emptyFilter {
	text-align: center;
	color: white;
	font-size: 40px;
}

.popup{
    width: 100%;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    overflow: hidden;
    position: fixed;
    top: 0px;
}

.popup .askWindow {
	position: fixed;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
    padding: 10px;
    background-color: #111111;
    border-radius: 5px;
}

p.askWindowText {
	text-align: center;
	color: white;
	font-size: 26px;
}

#deleteYes {
	position: relative;
	text-align: center;
	float: left;
	left: 10px;
	top: 30px;
	width: 70px;
	height: 30px;
}

#deleteNo {
	position: relative;
	text-align: center;
	float: right;
	right: 10px;
	top: 30px;
	width: 70px;
	height: 30px;
}

.editText {
	font-size: 16px;
	color: white;
}

.editTextArea {
	outline: none;
	border: none;
	background-color: #B1B1B1;
	resize: none;
	color: black;
	font-size: 16px;
	padding: 5px;
	width: 590px;
	height: 100px;
}

#addButton {
	text-align: center;
	float: left;
	margin-top: 20px;
	width: 80px;
	height: 40px;
}